body{
    background-color: #A7D489;
    color: ghostwhite;
    font-family: 'Nerko One', serif;
    text-align: center;
}

.navbar{
    background-color: #A7D489;
    padding-top: 1.5em;
}

.nav-link{
    color: ghostwhite;
}

.navbar-brand{
    color: ghostwhite;
    font-size: 20px;
}

input{
    color: #A7D489;
    border-color: #A7D489;
}

textarea{
    color: #A7D489;
}

.editButton{
    color: #A7D489;
    border-color: #A7D489;
}

.deleteBtn{
    color: #A7D489;
    border-color: #A7D489;
}

.nav-item{
    font-size: 20px;
}

h1{
    padding-top: 1em;
    padding-bottom: 1.5em;
    font-size: 3.5em;
}

h2{
    text-decoration-line: underline;
}

ul{
    list-style-type: none;
}

p{
    font-size: 1.2em;
}

.login-form{
    padding-top: 4em;
}

@media (min-width: 768px) {
    .navbar-brand.abs
    {
        position: absolute;
        width: auto;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
}