<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/site.css}">
    <title>Log In</title>
</head>
<body>
    <nav th:replace="partials :: navbar"></nav>

    <div th:if="${param.logout}">
        You have been logged out.
    </div>

    <h1 class="display-5"> Welcome To Ollie's Diary! Log In Or Select Register To Create A New Profile</h1>

    <p>
        This is Oliver's diary as told by his Mom and Dad with random stories or entries about his milestones. We hope he gets the opportunity to read them and see what his parents had to say about him.
    </p>
<!--    <img src="../../../img/RenderedImage%20Small.jpeg" alt="" width="240" height="320">-->

    <form class="login-form" th:action="@{/login}" method="post">
        <label for="username">Username:</label>
        <input id="username" name="username" type="text">
        <br><br>
        <label for="password">Password:</label>
        <input id="password" name="password" type="password">
        <br><br>
        <input type="submit" value="Log In">
    </form>

    <div th:if="${param.error}">
        Invalid Username and Password.
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>
</html>