<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dice Roll</title>
</head>
<body>
    <h1>Select a number from 1-6</h1>
    <h1>The number guessed was : <span th:text ="${number}"></span></h1>
    <h1>The random number was : <span th:text="${randomNumber}"></span></h1>
    <h2 th:if="${number}">You guessed right!!</h2>
    <h2 th:if="${!number}">Wrong number!!</h2>
    <h3>Try again</h3>
        <ul>
            <li><a href="/roll-dice/1">1</a></li>
            <li><a href="/roll-dice/2">2</a></li>
            <li><a href="/roll-dice/3">3</a></li>
            <li><a href="/roll-dice/4">4</a></li>
            <li><a href="/roll-dice/5">5</a></li>
            <li><a href="/roll-dice/6">6</a></li>
        </ul>
</body>
</html>